{
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@app/(.*)$",
    "^@pages/(.*)$",
    "^@modules/(.*)$",
    "^@assets/(.*)$",
    "^@ui/(.*)$",
    "^@hooks",
    "^[../]",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
