:root {
	--base-background-white: #fff;
	--base-pure-black: #000;
	--gray-50: #fafafa;
	--gray-100: #f1f1f1;
	--gray-200: #eaecee;
	--gray-300: #d6dade;
	--gray-400: #a8b0b9;
	--gray-500: #717d8a;
	--gray-600: #4f5b67;
	--gray-700: #373f47;
	--gray-800: #242d35;
	--gray-900: #0c1116;
	--primary-blue-50: #f7f7fb;
	--primary-blue-100: #d8d8fe;
	--primary-blue-200: #b3b3fd;
	--primary-blue-300: #8484f8;
	--primary-blue-400: #6e6ef7;
	--primary-blue-500: #4040f2;
	--primary-blue-600: #3333d1;
	--primary-blue-700: #2323be;
	--primary-blue-800: #181894;
	--primary-blue-900: #0d0d54;
	--yellow-50: #fffeec;
	--yellow-100: #fff9cf;
	--yellow-200: #fff19f;
	--yellow-300: #ffe86f;
	--yellow-400: #ffde4b;
	--yellow-500: #ffcf0f;
	--yellow-600: #dbad0a;
	--yellow-700: #b78d07;
	--yellow-800: #7b5c03;
	--yellow-900: #4f3903;
	--green-50: #f6fff0;
	--green-100: #e6fbd9;
	--green-200: #c9f8b4;
	--green-300: #a0ec8a;
	--green-400: #79d969;
	--green-500: #44c13c;
	--green-600: #2ba52e;
	--green-700: #1e8a29;
	--green-800: #0f5b1d;
	--green-900: #073e16;
	--red-50: #fff4ec;
	--red-100: #ffe8d7;
	--red-200: #ffccb0;
	--red-300: #ffa988;
	--red-400: #ff886b;
	--red-500: #ff513a;
	--red-600: #db302a;
	--red-700: #b71d23;
	--red-800: #931222;
	--red-900: #7a0b21;
}
